.user-icon {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background: var(--Border-gray);
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-icon__icon {  
  color: var(--Gray);
}