.wrapper-modal {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: 500;
}

.fade {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--Dark-gray-opacity);
}

.modal {
  width: 40rem;
  height: 40rem;
  border-radius: 15px;
  background: var(--White);
  padding: 1rem;
}

.wrapper-text {
  width: 100%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.modal__title {
  color: var(--Blue);
}

.modal__subtitle {
  font-size: 1.8rem;
  display: flex;
  align-items: center;
}

.modal__subtitle-points {
  color: var(--Medium-difficulty-text);
  font-weight: bold;
  margin-left: 0.5rem;
}

.wrapper-btn {
  width: 100%;
  height: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal__btn {
  width: 60%;
  height: 5rem;
  border: none;
  border-radius: 15px;
  background: var(--Dark-blue);
  color: var(--White);
  transition: .4s;
}

.modal__btn:hover {
  background: var(--Blue);
}
