.forgot-password.forgot-password--small-size {
  height: 40rem;
}

.forgot-password.new-password {
  height: auto;
}

.forgot-password-header {
  width: 80%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.forgot-password--small-size .forgot-password-header {
  width: 100%;
}

.forgot-password-wrapper-icon {
  width: 10rem;
  height: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--Blue);
  border-radius: 50%;
  padding: 2rem;
}

.forgot-password__icon {
  width: 5rem;
  height: 5rem;
  color: var(--White);
}

.forgot-password__title {
  font-size: 3rem;
  color: var(--Blue);
}

.verification-code {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.verification-code__input {
  width: 40px;
  height: 40px;
  font-size: 1.8rem;
  font-weight: bold;
  color: var(--Dark-gray);
  text-align: center;
}

.verification-code__input:focus {
  border-color: var(--Dark-blue);
}
