.navbar {
  width: 100vw;
  height: 5rem;
  padding: 3rem 8rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid var(--Border-gray);
}

.navbar__logo {
  width: 20rem
}

.menu {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.user-infos {
  padding: 0.5rem 1rem;
  border: 2px solid var(--Border-gray);
  border-radius: 15px;
  display: flex;
  gap: 1rem;
  align-items: center;
  cursor: pointer;
  transition: .4s;
}

.user-infos:hover {
  transform: scale(1.05);
}

.user-infos__points {
  display: flex;
  align-items: center;
  gap: 0.3rem;
  color: var(--Dark-blue);
}

.user-infos-inner {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.user-infos__nickname {
  font-weight: bold;
}

.user-infos__img {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background: var(--Light-gray-opacity);
}

.menu__btn {
  background: transparent;
  border: none;
  transition: .4s;
}

.menu__btn:hover {
  transform: scale(1.1);
}

.menu__icon {
  width: 2rem;
  height: 2rem;
  color: var(--Dark-gray);
  transition: 0.4s;
}

.menu__btn:hover .menu__icon {
  color: var(--Dark-blue);
}



