* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

:root {
  /* Colors */

  /* --Blue: rgb(33, 150, 243); */
  --Dark-blue: rgb(25, 118, 210);
  --Dark-blue-opacity: rgba(25, 118, 210, 0.8);
  --Blue: rgb(0, 172, 217);
  --Blue-opacity: rgba(33, 150, 243, 0.5);
  --Light-blue: rgb(100, 181, 246);
  --Pastel-blue: rgb(187, 222, 251);
  --Sky-blue: rgb(179, 229, 252);
  --Very-light-blue: rgba(8, 170, 210, 15%);

  --Text-gray: rgb(132, 128, 128);

  --Light-gray: rgb(236, 239, 241);
  --Light-gray-opacity: rgba(198, 198, 198, 0.5);
  --Border-gray: rgb(210, 210, 210);
  --Gray-opacity: rgb(151, 151, 151, 0.8);
  --Gray: rgb(123, 122, 122);
  --Gray-opacity: rgba(123, 122, 122, 0.5);
  --Dark-gray: rgb(51, 51, 51);
  --Dark-gray-opacity: rgba(51, 51, 51, 0.5);

  --Red: #fc0804;
  --Light-red: #efb1b0;
  --Dark-red: #f80400;

  --Light-green: #bbf8bb;
  --Green: #3f9d3f;

  /* --Easy-difficulty: #388E3C;
  --Medium-difficulty: #FFA000;
  --Hard-difficulty: #D32F2F; */

  --Easy-difficulty-background: #C8E6C9;
  --Easy-difficulty-text: #2E7D32;

  --Medium-difficulty-background: #FFF9C4;
  --Medium-difficulty-text: #FBC02D;

  --Hard-difficulty-background: #FFCDD2;
  --Hard-difficulty-text: #D32F2F;

  --White: #fff;
  --Black: #000;

  /* 
    Azul Principal: #2196F3 (Azul moderadamente vibrante)
    Azul Claro: #64B5F6 (Azul claro e suave)
    Azul Escuro: #1976D2 (Azul profundo para realces)
    Cinza Claro: #ECEFF1 (Cinza claro para fundos)
    Branco: #FFFFFF (Para áreas de destaque e contraste)
    Azul Pastel: #BBDEFB (Azul pastel suave)
    Azul Celeste:#B3E5FC (Azul celeste para realces sutis)

    verde menta: #98FF98
  */
  
}

html {
  font-size: 62.5%;
}

body {
  color: var(--Dark-gray);
  background: var(--Light-gray);
  font-size: 1.6rem;
}

html,
body {
  width: 100%;
  height: 100%;
}

#root {
  width: 100%;
  min-height: 100%;
}

input {
  outline: none;
}

a {
  text-decoration: none;
  color: var(--Light-blue);
  font-weight: bold;
}

a:hover {
  color: var(--Blue)
}

a, input[type="submit"], button {
  cursor: pointer;
}

.wrapper-form,
.forgot-password {
  width: 50rem;
  height: 60rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  padding: 2.5rem;
  background: var(--White);
  border-radius: 15px;
  box-shadow: -5px 5px 15px var(--Dark-gray-opacity);
}

.inputs {
  padding: 1rem;
  background: transparent;
  border: 2px solid var(--Blue);
  border-radius: 10px;
  transition: .4s;
}

.inputs:hover {
  border-color: var(--Dark-blue);
  transform: scale(1.02);
}

.inputs.inputs--error {
  border-color: var(--Red);
}

.inputs.inputs--error:hover {
  border-color: var(--Dark-red);
}

.hide {
  display: none;
}